pkgbase = kraken-desktop-auto-bin
	pkgdesc = Kraken crypto exchange desktop application
	pkgver = 1.24.0
	pkgrel = 1
	url = https://www.kraken.com/desktop
	arch = aarch64
	arch = armv7
	arch = x86_64
	license = custom: commercial
	provides = kraken_desktop
	conflicts = kraken_desktop
	options = !debug
	options = !lto
	options = !strip
	source = kraken.png
	sha256sums = 6fc49c5128736ffa958ded6d12f3a1fa819bce5b563e768d479ca01a67517148
	source_aarch64 = kraken-desktop-auto-bin-1.24.0-aarch64.zip::https://desktop-downloads.kraken.com/latest/kraken-aarch64-unknown-linux-gnu.zip
	sha256sums_aarch64 = 59642895531279071ec037ee5c749d32aa2845654a565f094f11ccd28f5aee2f
	source_armv7 = kraken-desktop-auto-bin-1.24.0-armv7.zip::https://desktop-downloads.kraken.com/latest/kraken-armv7-unknown-linux-gnueabihf.zip
	sha256sums_armv7 = 72cf92ce3882f2b0c75385776fe96db0737a473c4679ddd0ed98a44c2615e4bf
	source_x86_64 = kraken-desktop-auto-bin-1.24.0-x86_64.zip::https://desktop-downloads.kraken.com/latest/kraken-x86_64-unknown-linux-gnu.zip
	sha256sums_x86_64 = 342258e69a461e763fa0a367ce2bd571a8faba9852bf9de521bf50bbd6099d80

pkgname = kraken-desktop-auto-bin
