pkgbase = kraken-desktop-auto-bin
	pkgdesc = Kraken crypto exchange desktop application
	pkgver = 1.25.1
	pkgrel = 1
	url = https://www.kraken.com/desktop
	arch = aarch64
	arch = armv7
	arch = x86_64
	license = custom: commercial
	provides = kraken_desktop
	conflicts = kraken_desktop
	options = !debug
	options = !lto
	options = !strip
	source = kraken.png
	sha256sums = 6fc49c5128736ffa958ded6d12f3a1fa819bce5b563e768d479ca01a67517148
	source_aarch64 = kraken-desktop-auto-bin-1.25.1-aarch64.zip::https://desktop-downloads.kraken.com/latest/kraken-aarch64-unknown-linux-gnu.zip
	sha256sums_aarch64 = 50c4c48b218778822c9ae38a750a0684154f21a53e2a19ed28391f68feb8b976
	source_armv7 = kraken-desktop-auto-bin-1.25.1-armv7.zip::https://desktop-downloads.kraken.com/latest/kraken-armv7-unknown-linux-gnueabihf.zip
	sha256sums_armv7 = 0143ac1d357ca8a78764bd1e6d2c0c84b7c4aa91d233dfbee4b4579605b14996
	source_x86_64 = kraken-desktop-auto-bin-1.25.1-x86_64.zip::https://desktop-downloads.kraken.com/latest/kraken-x86_64-unknown-linux-gnu.zip
	sha256sums_x86_64 = 5b6bdcdd5a27b3807969da062717b267d619fdc03ca73d430069d8ac201836f7

pkgname = kraken-desktop-auto-bin
